.background-video[b-msgvu9ph55] {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.video[b-msgvu9ph55] {
    position: absolute;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    object-fit: cover;
    z-index: 0;
}

.introduction[b-msgvu9ph55] {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

.profile-picture[b-msgvu9ph55] {
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}

.intro-text[b-msgvu9ph55] {
    display: block;
    text-align: justify;
    color: black;
    max-width: 350px;
    margin-left: 1rem;
}

.intro-text h1[b-msgvu9ph55] {
    font-size: 2.5rem;
    font-family: "rainyhearts", 'VCR OSD Mono', monospace;
    font-weight: 500;
}

.description[b-msgvu9ph55] {
    display: block;
    text-align: center;
    margin-top: 5vh;
    font-size: 20px;
    color: black;
}