@page "/"
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<div id="tsparticles" style="position:absolute; top:0; left:0; width:100%; height:100%; z-index:-1;"></div>

<div class="main-content">
    <div class="introduction">
        <div class="profile-picture">
            <img src="Images/picture.jpg" class="profile-picture" />
        </div>
    
        <div class="intro-text">
            <h1> Hello, my name is Minh Nhat Nguyen. </h1>
        </div>
    </div>
    
    <div class="description">
        <h1> Here, you can find projects that I worked on / am working on. </h1>
    </div>
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initParticles");
        }
    }
}