.background-video {
    position: relative;
    height: 90vh;
    overflow: hidden;
}

.video {
    position: absolute;
    top: 0; left: 0;
    width: 100vw; height: 90vh;
    object-fit: cover;
    z-index: 0;
}

.introduction {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

.profile-picture {
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}

.intro-text {
    display: block;
    text-align: justify;
    color: black;
    max-width: 350px;
    margin-left: 1rem;
}

.intro-text h1 {
    font-size: 2.5rem;
    font-family: "rainyhearts", 'VCR OSD Mono', monospace;
    font-weight: 500;
}

.description {
    display: block;
    text-align: center;
    margin-top: 5vh;
    font-size: 20px;
    color: black;
}