@page "/"

<PageTitle>Home</PageTitle>

<div class="introduction">
    <div class="profile-picture">
        <img src="Images/picture.jpg" class="profile-picture" />
    </div>

    <div class="intro-text">
        <h1> Hello, my name is Minh Nhat Nguyen. </h1>
    </div>
</div>

<div class="description">
    <h1> Here, you can find projects that I worked on / am working on. </h1>
</div>