@page "/projects"
@rendermode InteractiveServer

<PageTitle>Projects</PageTitle>

<div class="background-video">
    <video 
        src="Videos/projects.mp4" autoplay muted loop playsinline class="video" 
        type="video/mp4">
        
    </video>
</div>

@code {
    
}
