@font-face {
    font-family: "Montserrat";
    src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: "Queensides";
    src: url('../assets/fonts/Queensides-3z7Ey.ttf') format('truetype');
}


.introContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10vh;
}

.faceImg {
    position: relative;
    z-index: 1;
    margin-right: -4vw;
}

.faceImg img {
    width: 25vw;
    height: auto;
    max-width: 100%;
    display: block;
}

.introTextContainer {
    width: 30vw;
}

.introTextContainer p {
    color: #87e4f7;
    font-family: "Montserrat";
    font-size: clamp(1rem, 3rem, 10rem);
    font-weight: bolder;
}

.contactContainer {
    height: 10vh;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: auto;
    justify-self: center;
}