@font-face {
    font-family: 'Munro';
    src: url('../assets/fonts/Munro-2LYe.ttf') format('truetype');
}

.navBar {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    background-color: #000000;
    z-index: 2;
    opacity: 0.8;
}

.navItem,
.navItemHover {
    height: 100%;
    display: flex;
    align-items: top;
    margin-left: 2vw;
    margin-right: 2vw;
}

.navItemHover  {
    background: #2e2e2e;
}

.navItem button,
.navItemHover button {
    height: 75%;
    width: auto;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0.5vh 1vw;
    margin: 0;
    outline: none;
    border: none;
}

.navItem img {
    height: 100%;
    max-height: 10vh;
    width: auto;
    transform: translateY(1vh);
    transition: transform 0.3s ease;
}

.navItemHover img {
    height: 100%;
    max-height: 10vh;
    width: auto;
    transform: translateY(0vh);
}

.navItem p {
    padding-top: 0.5vh;
    font-size: clamp(0.5rem, 2.2vh, 4rem);
    font-family: 'Munro';
    font-weight: bolder;
    margin: 0;
    color: white;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(1vh);
}

.navItemHover p {
    padding-top: 0.5vh;
    font-size: clamp(0.5rem, 2.2vh, 4rem);
    font-family: 'Munro';
    font-weight: bolder;
    margin: 0;
    color: white;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
    transform: translateY(0);
}